body{
  margin: 0px;
 
  background-color: #e8e8e8;
}
header{
  width: 90%;
  height: 85px;
  background-color: #ffff;
  margin: auto;
  border: 1px dashed blue;

}
main{
  width:90% ;
  height: 2083px;
  background-color: #ffff;
  margin: auto;
  border: 1px dashed black;
}
footer{
  width: 90%;
  height: 270px;
  background-color: #ffff;
  margin: auto;
  border: 1px dashed red;
}